# --- App ---
PORT=5000
NODE_ENV=development
APP_URL=https://your-api.vercel.app
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/email_scheduler?retryWrites=true&w=majority
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
GEMINI_API_KEY=
QSTASH_TOKEN=eyJVc2VySUQiOiI3NTFhY2Q4Ny01NDFhLTRiNWQtYTFkOC1hY2NhN2M5ZTAzZmIiLCJQYXNzd29yZCI6IjcwMTIwMjYwOGY1MTRlNjc4YzgyOTU1Yjc1NDFkZDA1In0=
QSTASH_CURRENT_SIGNING_KEY=sig_5cToLKjsnqpF6mT2ZS1g2f1Cw1kk
QSTASH_NEXT_SIGNING_KEY=sig_5rZB2XsPw3WMqssNKtZhGvwBiLqP
ENCRYPTION_KEY=